__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

runs/detect/runs/train/exp_20260515_113653/weights/
data/
video_outputs/
outputs/
wandb/
latex/
models/*.pt
models/*.onnx
yolo26n.pt
yolov8n.pt


*.avi
*.bmp

*.swp
*.swo
*~
.DS_Store
Thumbs.db

.vscode/
.idea/
*.iml

.env
.venv
env/
venv/
ENV/
